/batch_runners
/config
/editors
/extlib/apc
/extlib/rhino
/htdocs
/docs
/htdocs
/tools
/Uninstaller
/.installationinformation
/build.xml
/demo.xml
/NOTICE.htm
/NOTICE.txt
/lib
/ruby
/sample_java_project
/src
/test
/userdata/browser
/userdata/logs
/userdata/temp
