/batch_runners
/bin
/config
*demo*
/editors
/extlib
/htdocs
/docs
/htdocs
/tools
/Uninstaller
/.installationinformation
/build.xml
/demo.xml
/NOTICE.htm
/NOTICE.txt
/lib
/ruby
/sample_java_project
/src
/test
/userdata/bin/*.bat
/userdata/bin/*.bak
/userdata/bin/*.debug
/userdata/bin/*.sh
/userdata/certs
/userdata/browser
/userdata/config
/userdata/logs
/userdata/temp
/userdata/scripts
*Kopie*
